html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff url("/images/bg.png") top center repeat;
  //   background-color: $blue;
}

body {
  display: flex;
  margin: 0;
}
.site-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.site-main {
  flex: 1 1 auto;
}
